html {
    height:100%;
    width:100%;
}
body {
    line-height: 1;
    font-family:'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#image {
    opacity: 1;
    max-width: none;
    z-index: -1;
    position: absolute;
}
h2{
    text-align: center;
    font-weight:100;
    font-size: 2.5em;
}
td {
    width:33.333%;
    height:50%;
    text-shadow: 0 3px 0 black,
    0 5px 10px rgba(0,0,0,0.3),
    0 4px 2px rgba(0,0,0,0.15),
    0 34px 30px rgba(0,0,0,0.15);
    color: white;
    font-size:2em;
    /*text-align: center;*/
    text-transform: uppercase;
    /*font-variant:small-caps;*/
    letter-spacing: .03em;
    font-weight:100;
    /*background: rgba(255,255, 255, 0.5);*/
}
img.subscribe-image{
    display:None;
}
td:hover{
    /*background: rgba(255,0, 0, 1);*/
    color: white;
}
#calendarListButton1{
    display:None;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:rgba(255,255,255,.9);
    cursor:pointer;
    text-decoration:underline;
}
a:visited{
    color: rgba(255,255,255,1)
}
a:active{
    margin-top: 10px;
}
table {
    height:100%;
    width:100%;
}
.hidden{
    text-align:center;
    display:None;
}
