body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#image {

    z-index: -1;
    position: absolute;
}
#player_mouse_target{
    position:absolute;
    width:100%;
    height:6em;
    bottom:0;
    background:transparent;
}
#player{
    position:absolute;
    width:100%;
    height:60%;
    bottom:0;
    left:0;
    background:white;
    z-index: 1;
}
menu {
    /*margin: 2em auto;*/
    float:left;
    position: relative;
    left:0;
    bottom:0;
}
menu button {
    position: relative;
    display: inline-block;
    padding: .3em;
    background: transparent;
    border-style: none;
    width: 1.5em;
    height: 3em;
    margin-right: 1em;
    cursor: pointer;
    top: -.25em;
}
menu button:before,
menu button:after {
    position: absolute;
    content: " ";
}
menu button:active {
    bottom: .3em;
}
menu .play:before {
    z-index: 2;
    top: 0.55em;
    left: 0.8999999999999999em;
    width: 0;
    height: 0;
    border: 0.75em solid transparent;
    border-left-color: rgba(100, 100, 100, 0.8);
    border-left-width: 1.125em;
}
menu .play:hover:before {
    border-left-color: rgba(0, 0, 0, 0.8);
}
menu .stop:before {
    top: 0.705em;
    left: 0.7em;
    width: 1em;
    height: 1.06em;
    background: rgba(100, 100, 100, 0.8);
}
menu .stop:hover:before {
    background: rgba(0, 0, 0, 0.8);
}
menu .ff:before,
menu .ff:after {
    width: 0;
    height: 0;
    top: 0.65em;
    border: 0.563em solid transparent;
    border-left-color: rgba(100, 100, 100, 0.8);
    border-left-width: 0.608em;
}
menu .ff:before {
    left: 0.75em;
}
menu .ff:after {
    left: 1.4149999999999998em;
    content: " ";
}
menu .ff:hover:before,
menu .ff:hover:after {
    border-left-color: rgba(0, 0, 0, 0.8);
}
menu .rw:before,
menu .rw:after {
    width: 0;
    height: 0;
    top: 0.65em;
    border: 0.563em solid transparent;
    border-right-color: rgba(100, 100, 100, 0.8);
    border-right-width: 0.608em;
}
menu .rw:before {
    left: 0.55em;
}
menu .rw:after {
    left: -0.125em;
    content: " ";
}
menu .rw:hover:after,
menu .rw:hover:before {
    border-right-color: rgba(0, 0, 0, 0.8);
}
menu .pause:before,
menu .pause:after {
    height: 1.058em;
    width: 0.428em;
    left: 0.653em;
    top: 0.70em;
    display: block;
    background-color: rgba(100, 100, 100, 0.8);
}
menu .pause:after {
    left: 1.35em;
}
menu .pause:hover:before,
menu .pause:hover:after {
    background-color: rgba(0, 0, 0, 0.8);
}
#download_frame {
    display:none;
    position:absolute;
    left:29%;
    bottom:31%;
    width:38%;
    height:40%;
    text-align:center;
    padding:15px;
    border:1px;
    background-color:#eee;
    z-index: 2;
}

#album_art_mouse_target {
    width:30%;
    height:30%;
    z-index:1;
    margin-left:38%;
    margin-top:10%;
    position:absolute;
    padding:15px;


}
#album_art{
    text-align:center;
    border-style:solid;
    background-color:rgba(255,255,255,0);
    border-color:rgba(255,255,255,0.5);
    border-radius:12px;
    width:100%;
    height:100%;
}
#main_play {
    float:left;
    position:relative;
    width: 0;
    height: 0;
    border-top-width: 30px;
    border-top-style: solid;
    border-top-color: transparent;
    border-left: 100px solid rgba(255,255,255,0.5);
    border-bottom: 50px solid transparent;
    top:32%;
    margin-left:16%;
    margin-top:0;
    cursor:pointer;
}
#main_play:hover{
    border-left: 100px solid rgba(255,255,255,0.9);
}
#main_play:active{
    top:33%;
}
#download_button{
    position:relative;
    cursor:pointer;
    top:33%;
    left: 51%;
    width:50%;
    height:50%;
}

#download_button:active{
    top:34%;
}

#triangle_down {
    position:relative;
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-top: 90px solid rgba(255,255,255,0.5);
    left:7%;
    top:0;
}
#rectangle{
    position:relative;
    left: 22%;
    width: 34%;
    height: 33%;
    bottom: 0;
    background: rgba(255,255,255,0.5);
    border-radius: 5px 5px;
}

#seekbar{
    position:relative;
    top:-1em;
    height:0.75em;
    background-color: rgba(0,0,0,0);
    border-style:solid;
    border-width:1px;
    border-color: rgba(0,0,0,0.3);
    z-index:0;
    margin-left:0em;
    margin-right:0em;
    cursor:pointer;
}
#progress{
    position:absolute;
    display: flexbox;
    height:100%;
    background-color: #000000;
    border-top-right-radius:1em;
    border-bottom-right-radius:1em;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    top:0;
    left:0;
    z-index:2;
}
.buffered{
    position: absolute;
    display: flexbox;
    /*width:75%;*/
    height:100%;
    background-color: rgba(0,0,0,.3);
    border-radius: 10em;
    /*left:20%;*/
    /*right:50%;*/
    top:0;
    z-index:1;
}
#song-title{
    position: absolute;
    left:12em;
    right:10em;
    font-size: 4.1em;
    /*align: center;*/
    text-align:center;
    color: rgba(0,0,0,0.9);
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight:300;
    font-stretch:expanded;
    /*font-family: "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;*/
    /*font-weight:100;*/
    /*font-stretch:normal;*/
    /*font-variant: small-caps;*/

}
form{
    align:center;
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight:300;
    font-stretch:expanded;
    font-size: 4em;
}